* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: clamp(14px, 1vw, 22px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Gilroy", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.view-1 {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 .text {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}
.view-1 .text p {
  opacity: 0.7;
  letter-spacing: 1;
}

.view-2 {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.view-2 .image {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.view-2 .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.1;
}
.view-2 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}
.view-2 .content .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .content .text h1 {
  font-size: 3.2rem;
  font-weight: 350;
  line-height: 1;
  text-transform: uppercase;
}
.view-2 .content .text p {
  font-family: monospace;
  font-size: 1.3rem;
  opacity: 0.5;
  line-height: 1.2;
  word-spacing: 0.3rem;
}
.view-2 .content .services {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .content .services .line {
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.5;
}
.view-2 .content .services .branding {
  display: flex;
  justify-content: space-between;
}
.view-2 .content .services .branding p {
  font-size: 2em;
  letter-spacing: -0.5px;
  font-weight: 350;
}
.view-2 .content .services .camp {
  display: flex;
  justify-content: space-between;
}
.view-2 .content .services .camp p {
  font-size: 2em;
  letter-spacing: -0.5px;
  font-weight: 350;
}
.view-2 .content .services .ecomm {
  display: flex;
  justify-content: space-between;
}
.view-2 .content .services .ecomm p {
  font-size: 2em;
  letter-spacing: -0.5px;
  font-weight: 350;
}
.view-2 .content .services .social {
  display: flex;
  justify-content: space-between;
}
.view-2 .content .services .social p {
  font-size: 2em;
  letter-spacing: -0.5px;
  font-weight: 350;
}

@media (min-width: 1024px) {
  main {
    padding: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main .view-2 {
    padding-top: 3rem;
    flex-direction: row-reverse;
    gap: 4em;
  }
  main .view-2 .image img {
    height: 100%;
  }
  main .view-2 .content {
    justify-content: space-between;
    padding: 1rem 0;
  }
  main .view-2 .content .text h1 {
    font-size: 6rem;
    font-weight: 400;
  }
  main .view-2 .content .text p {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  main .view-2 .content .services {
    padding-top: 1rem;
    opacity: 0.6;
  }
}
.view-3 {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
}
.view-3 .image2 {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.view-3 .image2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.1;
}
.view-3 .content2 {
  display: flex;
  gap: 2.5rem;
}
.view-3 .content2 .sidetext {
  writing-mode: vertical-rl;
  padding-top: 0.3rem;
  font-size: 1.2rem;
  opacity: 0.7;
  font-weight: 500;
  font-family: monospace;
}
.view-3 .content2 .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view-3 .content2 .text h1 {
  font-size: 3.2rem;
  font-weight: 350;
  line-height: 1;
  text-transform: uppercase;
}
.view-3 .content2 .text p {
  font-family: monospace;
  font-size: 1.3rem;
  opacity: 0.4;
  line-height: 1.5;
  word-spacing: 0.4rem;
}

@media (min-width: 1024px) {
  main .view-3 {
    margin-top: 5rem;
    flex-direction: row;
    gap: 4em;
  }
  main .view-3 .image2 {
    width: 30%;
  }
  main .view-3 .image2 img {
    height: 100%;
    scale: 1.1;
  }
  main .view-3 .content2 {
    width: 70%;
    flex-direction: row-reverse;
    padding: 1rem 0;
  }
  main .view-3 .content2 .text {
    justify-content: space-between;
  }
  main .view-3 .content2 .text h1 {
    font-size: 7.2rem;
    font-weight: 400;
  }
}
.view-4 {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-4 .content3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-4 .content3 h1 {
  font-size: 3.6rem;
  font-weight: 350;
  line-height: 1;
  text-transform: uppercase;
}
.view-4 .content3 .fourbyfour .first .ser1line,
.view-4 .content3 .fourbyfour .first .ser2line {
  margin-bottom: 1.5rem;
}
.view-4 .content3 .fourbyfour .first .service h1 {
  margin-top: -0.5rem;
  font-size: 2.5rem;
  font-weight: 350;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.view-4 .content3 .fourbyfour .first .service p {
  font-family: monospace;
  font-size: 1.3rem;
  opacity: 0.4;
  line-height: 1.5;
  word-spacing: 0.3rem;
}
.view-4 .content3 .fourbyfour .first .service .btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.3rem 0;
}
.view-4 .content3 .fourbyfour .first .service .btn .logo {
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 50%;
  background-color: black;
}
.view-4 .content3 .fourbyfour .first .service .btn .logo svg {
  color: white;
}
.view-4 .content3 .fourbyfour .second .ser3line {
  margin-bottom: 1.5rem;
}
.view-4 .content3 .fourbyfour .second .service h1 {
  margin-top: -0.5rem;
  font-size: 2.5rem;
  font-weight: 350;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.view-4 .content3 .fourbyfour .second .service p {
  font-family: monospace;
  font-size: 1.3rem;
  opacity: 0.4;
  line-height: 1.5;
  word-spacing: 0.3rem;
}
.view-4 .content3 .fourbyfour .second .service .btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.3rem 0;
}
.view-4 .content3 .fourbyfour .second .service .btn .logo {
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 50%;
  background-color: black;
}
.view-4 .content3 .fourbyfour .second .service .btn .logo svg {
  color: white;
}
.view-4 .image3 {
  width: 100%;
}
.view-4 .image3 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  main .view-4 {
    margin-top: 10rem;
    flex-direction: row;
  }
  main .view-4 .content3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .view-4 .content3 h1 {
    font-size: 7.7rem;
  }
  main .view-4 .content3 .mainline {
    display: none;
  }
  main .view-4 .content3 .fourbyfour {
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }
  main .view-4 .content3 .fourbyfour .first .ser2line {
    display: none;
  }
  main .view-4 .image3 {
    width: 100%;
  }
  main .view-4 .image3 img {
    height: 100%;
    scale: 1.1;
  }
}/*# sourceMappingURL=style.css.map */