* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(./assets/11-0-Big-Sur-Color-Night.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.bottomNav {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 6%;
  background: rgba(110, 110, 110, 0.534);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.left img {
  height: 30px;
}

.temp,
.condition {
  color: white;
  font-size: 15px;
  font-weight: 200;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.audio,
.wifi {
  height: 23px;
  cursor: pointer;
}

.eng {
  font-weight: 400;
  color: white;
  letter-spacing: -1px;
  font-size: 14px;
}

#calendarPopup {
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 300px;
  background: #1f1f1f;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
  font-family: "Segoe UI", sans-serif;
  transition: all 0.2s ease;
  z-index: 999;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.calendar-header button {
  background: transparent;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  font-size: 13px;
  text-align: center;
}

#calendarGrid .day {
  padding: 6px 0;
  border-radius: 4px;
  transition: 0.2s;
}

#calendarGrid .day.today {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

#calendarGrid .day:hover {
  background-color: #2da4f3c0;
  cursor: pointer;
}

.clock-area {
  margin-top: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.brightness {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.brightness input[type="range"] {
  width: 100%;
  height: 10px;
  accent-color: rgb(247, 247, 247);
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.time {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  cursor: pointer;
}

.timeText {
  color: rgba(255, 255, 255, 0.945);
  font-size: 14px;
  text-align: center;
  font-weight: 200;
}

.date {
  color: rgba(255, 255, 255, 0.911);
  font-size: 14px;
  text-align: center;
  font-weight: 200;
}

.centerWrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: 2rem;
}

.windowslogo1,
.braveLogo,
.folderImg,
.copilot,
.store,
.notepad,
.Change_Background {
  height: 33px;
  cursor: pointer;
}

.braveLogo:hover,
.folderImg:hover,
.copilot:hover,
.store:hover,
.notepad:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.input {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem 0;
  outline: none;
  color: rgb(255, 255, 255);
  background: transparent;
}

input::placeholder {
  padding: 0 0.5rem;
  font-size: 15px;
  color: rgb(235, 235, 235);
}

#contextMenu {
  width: 15%;
  border-radius: 5px;
  position: absolute;
  background: #111111c4;
  backdrop-filter: blur(10px);
  color: white;
  padding: 10px;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
#contextMenu li {
  font-size: 13px;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  list-style: none;
}
#contextMenu li:hover {
  background-color: #5555557a;
}
.hidden {
  display: none;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.178);
}

.folder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 90px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: left 0.1s, top 0.1s;
}
.folder img {
  width: 40px;
}
.folder input {
  width: max-content;
  text-align: center;
  border: none;
  background: transparent;
  color: white;
  font-size: 13px;
  outline: none;
}
.folder input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.opened-folder {
  position: absolute;
  width: 600px;
  height: 400px;
  background: #2a2a3b;
  border: 1px solid #444;
  color: white;
  border-radius: 5px;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.window-header {
  height: 35px;
  background: #1e1e2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.window-header .title {
  font-size: 18px;
  user-select: none;
}

.window-controls button {
  margin-left: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.window-body {
  padding: 10px;
}

.opened-folder.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

#notepaad {
  position: absolute;
  width: 600px;
  height: 400px;
  background: #2a2a3b;
  border: 1px solid #444;
  color: white;
  border-radius: 5px;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 10%;
  left: 30%;
}

.notepadHeader {
  position: relative;
  height: 35px;
  width: 100%;
  background: #1e1e2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.closeBtn,
.notepaad-min-btn,
.notepaad-max-btn {
  margin-left: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.notepadContent {
  height: 100%;
  width: 100%;
  color: black;
  outline: none;
  font-size: 1.5rem;
  overflow-y: auto;
}

#notepaad.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

#contextMenu2 {
  width: 15%;
  border-radius: 5px;
  position: absolute;
  background: #111111c4;
  backdrop-filter: blur(10px);
  color: white;
  padding: 10px;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
#contextMenu2 li {
  font-size: 13px;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  list-style: none;
}
#contextMenu2 li:hover {
  background-color: #5555557a;
}

.google-window {
  width: 700px;
  height: 500px;
  background: #2a2a3b;
  border: 1px solid #888;
  position: absolute;
  top: 100px;
  left: 100px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.title-bar {
  background: #1e1e2f;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-brave {
  display: flex;
  align-items: center;
  gap: 10px;
}

.window-min-btn,
.window-max-btn,
.window-closeBtn {
  background: transparent;
  user-select: none;
  border: none;
  font-size: large;
  cursor: pointer;
  color: white;
}

.window-brave {
  height: 30px;
  margin-left: 10px;
}

.content {
  padding: 15px;
}

.content input {
  width: 70%;
  padding: 8px;
  font-size: 16px;
  color: black;
  outline: none;
}

.content input::placeholder {
  color: #888;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 8px;
  color: black;
  background-color: #f5f5f5d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  scale: 0.95;
}
#results {
  margin-top: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow-y: auto;
}
#results div {
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#results a {
  font-weight: bold;
  text-decoration: none;
  color: #0078d7;
}

.google-window.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

#folderNew1 {
  position: absolute;
  width: 600px;
  height: 400px;
  background: #2a2a3b;
  border: 1px solid #444;
  color: white;
  border-radius: 5px;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 10%;
  left: 30%;
}

.folderHeader {
  position: relative;
  height: 35px;
  width: 100%;
  background: #1e1e2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.folderNew1-closeBtn,
.folderNew1-min-btn,
.folderNew1-max-btn {
  margin-left: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.folderNew1Content {
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  overflow-y: auto;
  background-color: #2a2a3b;
  padding: 10px;
}

.folderTitle {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.folderImg {
  height: 30px;
}

.folderH2 {
  font-weight: 200;
}

#folderNew1.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

#copilot {
  position: absolute;
  width: 600px;
  height: 400px;
  background: #2a2a3b;
  border: 1px solid #444;
  color: white;
  border-radius: 5px;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 10%;
  left: 30%;
}

.copilotHeader {
  position: relative;
  height: 35px;
  width: 100%;
  background: #1e1e2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.copilot-closeBtn,
.copilot-min-btn,
.copilot-max-btn {
  margin-left: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.copilotContent {
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  overflow-y: auto;
  background-color: #2a2a3b;
  padding: 10px;
}

.copilotTitle {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.copilot-img {
  height: 30px;
}

.copilotH2 {
  font-weight: 200;
}

#copilot.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

#microsoftStore {
  position: absolute;
  width: 600px;
  height: 400px;
  background: #2a2a3b;
  border: 1px solid #444;
  color: white;
  border-radius: 5px;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 10%;
  left: 30%;
}

.microsoftStoreHeader {
  position: relative;
  height: 35px;
  width: 100%;
  background: #1e1e2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.microsoftStore-closeBtn,
.microsoftStore-min-btn,
.microsoftStore-max-btn {
  margin-left: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.microsoftStoreContent {
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  overflow-y: auto;
  background-color: #2a2a3b;
  padding: 10px;
}

.microsoftStoreTitle {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.microsoftStore-img {
  height: 30px;
}

.microsoftStoreH2 {
  font-weight: 200;
}

#microsoftStore.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

#windows-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 600px;
  background: rgba(255, 255, 255, 0.568);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 2rem 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.windows-button-search {
  width: 100%;
  height: 30px;
  outline: none;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  padding: 0 1rem;
}

.windows-button-title {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  padding: 1rem 0;
  margin-top: 1rem;
}

.windows-button-content {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.thisPC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.thisPC:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.thisPcImg {
  width: 35px;
  height: 35px;
}
.thisPcH2 {
  font-weight: 200;
  color: black;
  font-size: 1.2rem;
}

.recycle,
.folderNew2,
.brave2,
.copilot2,
.store2,
.notepad2,
.vscode,
.spotify,
.youtube,
.python {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.recycle:hover ,
.folderNew2:hover,
.brave2:hover,
.copilot2:hover,
.store2:hover,
.notepad2:hover,
.vscode:hover,
.spotify:hover,
.youtube:hover,
.python:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.recycleImg,
.folderNew2Img,
.brave2Img,
.copilot2Img,
.store2Img,
.notepad2Img,
.vscodeImg,
.spotifyImg,
.youtubeImg,
.pythonImg {
  width: 35px;
  height: 35px;
}
.recycleH2,
.folderNew2H2,
.brave2H2,
.copilot2H2,
.store2H2,
.notepad2H2,
.vscodeH2,
.spotifyH2,
.youtubeH2,
.pythonH2 {
  font-weight: 200;
  color: black;
  font-size: 1.2rem;
}

.container5{
  position: relative;
}

.windows-button-footer{
  position: absolute;
  top: 170%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footerImg{
  height: 35px;
}

.footerH2{
  font-weight: 200;
  color: black;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}