*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #0E0E0E;
    color: #DAC5A7;
    position: relative;
}

header{
    width: 100%;
    color: #DAC5A7;
    position: fixed;
    margin-top: 2%;
    padding: 0.5rem;
    background: rgba(0,0,0,0.1);
    border: 0.5px solid rgba(104, 104, 104, 0.5);
    backdrop-filter: blur(10px);
    z-index: 99;

    .nav{
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 1rem;
       
        .logo{
            font-size: 1.7rem;
            letter-spacing: 0.1rem;
        }

        .work a{
            display: none;
            text-decoration: none;
            color: #DAC5A7;
            transition: color 0.3s;
            padding: 0 1rem;
            font-size: 1rem;
        }

        .btn{
            padding: 0.7rem 1.1rem;
            background-color: #DAC5A7;
            color: #0E0E0E;
            font-size: 0.9rem;
            font-weight: 400;
            border: none;
            border-radius: 2%;
            cursor: pointer;
        }
    }
}

@media (min-width: 1024px){
    header{
        width: fit-content;
        margin-left: 30%;
        .nav{

            .logo{
                font-size: 2.5rem;
            }
            .work a{
                margin-top: 5%;
                display: inline-block;
                text-decoration: none;
                color: #DAC5A7;
                transition: color 0.3s;
                padding: 0 1rem;
                font-size: 0.9rem;
            }
            .btn{
                padding: 1rem 1rem;
                font-size: 1rem;
            }
        }
    }
}


main{
    width: 100%;
    overflow: hidden;
}

.view-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    // background-color: red;

    img{
        width: 80%;
        object-fit: cover;
    }

    h1{
        font-size: 3.2rem;
        font-weight: 300;
        text-align: center;
    }

    p{
        text-align: center;
        font-weight: 100;
        margin: 1rem 0;
        line-height: 1.7;
        color: #AF9F87;
        font-size: 1.1rem;
        opacity: 0.7;

        br{
            display: none;
        }
    }

    
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 2rem;
        background-color:#0E0E0E;
        color:#DAC5A7;
        font-size: 1rem;
        font-weight: 400;
        border: none;
        cursor: pointer;
    }
    .btn-img{
        // background-color: red;
        width: 15%;
        border: 0.5px solid #DAC5A7;
        // background-color: red;
        color: #DAC5A7;
        border-radius: 50%;
        padding: 3%;
    }
}

@media (min-width: 1024px){

        html{
            font-size: clamp(16px, 1vw, 20px);
        }

    .view-1{
        img{
            width: 39%;
        }
        h1{
            font-size: 7.8rem;
            line-height: 0.9;

            em{
                font-size: 7.2rem;
            }
        }

        p{
            font-size: 1.6rem;
            color: #DAC5A7;
            line-height: 1.4;
            font-weight: 300;
            br{
                display: block;
            }
        }

        .btn-img{
            width: 8%;
            padding: 1%;
        }
    }
}


.view-2{
    margin-top: -5%;
    width:100%;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    .marquee{
        display: flex;
        width: 100%;
        overflow: hidden;
        position: relative;

        &::before{
            content: '';
            height: 100%;
            width: 30%;
            position: absolute;
            background: linear-gradient(to right, #0E0E0E, transparent);
            top: 0;
            left: -1px;
            z-index: 1;
        }

        &::after{
            content: '';
            height: 100%;
            width: 30%;
            position: absolute;
            background: linear-gradient(to left, #0E0E0E, transparent);
            top: 0;
            right: -1px;
            z-index: 1;
        }

        .text{
            display: flex;
            gap: 1rem; 
            padding: 0 1rem;
            animation: marquee 8s linear infinite;

            p{
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media (min-width: 1024px){
    .view-2{
        margin-top: 0;
        .marquee{
            width: 80%;
            .text{
                p{
                    font-size: 2.5rem;
                }
            }
        }
    }
}


.view-3{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
    .box1{
        width: 100%;
        padding: 1.5rem;
        background-color: #0E0E0E;
        color: #DAC5A7;
        border: 0.1rem solid rgba(175, 159, 135, 0.5) ;
        border-radius: 0.2rem;

        h3{
            font-size: 1rem;
            color: rgba(175, 159, 135, 1) ;
            font-weight: 400;
            margin-bottom: 0.2rem;
            letter-spacing: 0.1rem;
            
        }
        h2{
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 0.8rem;
        }

        p{
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            opacity: 0.7;
            margin-bottom: 1.5rem;
        }

        .btn{
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: 1rem;
            // padding: 1rem 2rem;
            background-color:#0E0E0E;
            color:#DAC5A7;
            font-size: 1rem;
            font-weight: 400;
            border: none;
            cursor: pointer;
            // background-color: red;
        }
        .btn-img{
            width: 10%;
            border: 0.5px solid #DAC5A7;
            color: #DAC5A7;
            border-radius: 50%;
            padding: 2%;
        }
    }
}


@media (min-width: 1024px){
    .view-3{
        flex-direction: row;
        
       .box1{
            width: 50%;
            padding: 1.5rem;
            margin-right: 1rem;
            border-radius: 0.2rem;
        }
    }
}

.view-4{
    .title{
        font-size: 1rem;
        font-weight: 100;
        text-align: center;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;

        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            // padding: 1rem 2rem;
            background-color:#0E0E0E;
            color:#DAC5A7;
            font-size: 1rem;
            font-weight: 400;
            border: none;
            cursor: pointer;
            margin-top: 3%;
            letter-spacing: 0.2rem;
            // background-color: red;
        }
        .btn-img{
            width: 8%;
            border: 0.5px solid #DAC5A7;
            color: #DAC5A7;
            border-radius: 50%;
            padding: 1%;
        }
    }

    .card{
        .cards{
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 1.5rem;
            position: relative;
         img{
            width: 100%;
            object-fit: cover;
            border: 0.1rem solid rgba(175, 159, 135, 0.5);
            border-radius: 0.3rem;
        }
        .heading{
            position: absolute;
            gap: 6rem;
            bottom: 3rem;
            font-size: 0.9rem;
            font-weight: 100;
            display: flex;
            align-items: center;
            background:rgba(0,0,0,0.1);
            backdrop-filter: blur(10px);
            padding: 0.5rem 2rem;
            border: 0.1rem solid rgba(175, 159, 135, 0.5);

            h2{
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
    }
    }
}

@media (min-width: 1024px){
    .view-4{
        .title{
            display: flex;
            justify-content: space-between;
            padding: 1.5rem;
            
            .btn{
                margin-top: 0%;
                margin-right: -9%;
                
            }
        }
       
       .card{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            gap: 1rem;
            margin-top: -3%;

            .cards{
                display: flex;
                justify-content: center;
                gap: rem;
                .heading{
                    width: 87%;
                    display: flex;
                    justify-content: space-between;
                    padding: 1.3rem 1rem;
                }
            }
        }

        
    }
}